[submodule "contract"]
	path = contract
	url = git@github.com:fariasrobertoa/diplo-blockchain-tf-contract.git
[submodule "frontend-starter"]
	path = frontend-starter
	url = git@github.com:fariasrobertoa/diplo-blockchain-tf-frontend.git
